<div class="container">
  <div class="row">
    <form class="col s12" {{action "submitRequestForSecretKey" on="submit"}}>
      <div class="row">
        <div class="input-field col s12">
          {{input type="number" class="validate" id="student_number" value=studentNumber  tabindex="1" min="100000000" max="999999999" name="student_number" required="true"}}
          <label for="student_number" data-error="Not a student number">Student Number</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
        {{input type="text" class="validate" name="student_email" id="student_email" value=studentUsername  tabindex="2" required="true"}}
          <label for="student_email" data-error="Required">cuLearn Username</label>
        </div>
      </div>

      <div class="row">
        
        <div class="input-field col s4 offset-s8">
        <div class='col s1 offset-s7 push-down' style={{displaySpinner}} >
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only">
                  <div class="circle-clipper left">
                    <div class="circle"></div>
                  </div>
                  <div class="gap-patch">
                    <div class="circle"></div>
                  </div>
                  <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="button-section" style={{displayButton}}>
            <button class="btn waves-effect waves-light" type="submit" tabindex="3" name="action">Send me my key!
                    <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>